<p>
  <strong>Operating area:</strong>
  <%= @volunteer.operating_area %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @volunteer.availability %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @volunteer.skills %>
</p>

<p>
  <strong>Limitations:</strong>
  <%= @volunteer.health_concerns %>
</p>


