<h1>Signed in</h1>
<p> welcome <%= params[:user].to_json %> </p>
<p>  user <%= @user.to_json %> -  <%= :user.to_json %></p>
<p>  session <%= session[:user_id].to_json %> </p>
<p>you have sucessefully signed in</p>
