<h1> About</h1><br/>
<p>
  Supply!Food is an open source project who intends to provide the world with software sollutions to manage food security to the needy.
</p>
    <img src=<%= asset_path 'operationalFlow.png' %> style="width: 450px;">
<p>
    The project concept is that any community can use the supply!food website to manage the logistics of the donor/volunteer/consumer relationship or even clone the website and run your own. Our main goals is to guarantee that not a single person would be unnatended.
</p>
<h2>Mirror information</h2>
<h3>Node name : <%= NODE_NAME %></h3>
<h3>Date and type format : <%= DATETIMEFORMAT %></h3>
