
<div class="container text-center" >
    <h1>Supply!Food</h1>
<H2>Freeware solution for hunger relief and food insecurity</H2>
<div>
    <img src="/resources/images/homeslice_0_0.png"  style="width:100%" >
</div>

<p>Useful links :</p>
<a href="https://www.worldhunger.org/">World Hunger</a> - concept and facts about hunger around the world.<br/>
<a href="http://www.foodaidfoundation.org/world-hunger-statistics.html">World Hunger statistics</a> - facts about hunger around the world.<br/>
<a href="https://www.nationalgeographic.com/foodfeatures/hunger/">The New Face of Hunger</a> - About hunger in developed countries<br/>
    <div>
    <img src="/resources/images/homeslice_1_0.png"  style="width:100%" >
</div>
    
<hr />

<p>Supply Food is an open source project available at <a href="https://github.com/supplyFoodIntl/supplyFood">https://github.com/supplyFoodIntl/supplyFood</a>.<br>
    
<hr />
<div class="row row-eq-height">
<H3>Developed with the following freeware tools:</H3>
    <div class="col-xs-3" >
        <H4>Server side : </H4>
        <h5><span class="badge badge-secondary"><img src="/resources/badges/RoR.jpg"  style="width:30px" ></span> Ruby on Rails</h5>
    </div>
    <div class="col-xs-3" >
        <H4>3D Art :</H4> 
        <h5><span class="badge badge-secondary"><img src="/resources/badges/blender.png"  style="width:30px" ></span> Blender</h5>
    </div>
    <div class="col-xs-3" >
        <H4>Vector Graphs :</H4> 
        <h5><span class="badge badge-secondary"><img src="/resources/badges/inkscape.png"  style="width:30px" ></span> Inkscape</h5>
    </div>
    <div class="col-xs-3" >
        <H4>Bitmaps :</H4> 
        <h5><span class="badge badge-secondary"><img src="/resources/badges/gimp_logo.png"  style="width:30px" ></span> Gimp 2</h5>
    </div>
</div>
<div>
    <img src="/resources/images/homeslice_2_0.png"  style="width:100%" >
</div>