<h1> Legal</h1><br/>
<p> Food donation is one of the most valuable form of charity but even so it's submitted to laws and regulations</p>
<%= SupplyFoodConfiguration.find_by_name('Legal').html_configuration.html_safe %>