<h1> News</h1><br/>
<p>Charity is about unselflessness, but a good work must be shown in order to inspire and multipy do results.</p>
<%= SupplyFoodConfiguration.find_by_name('News').html_configuration.html_safe %>