<h1> Services</h1><br/>
<p>A food donation system is a simple system of good , but as a system have connection point with many actors and most of this connection points can be treated like services</p>
<%= SupplyFoodConfiguration.find_by_name('Services').html_configuration.html_safe %>