<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Hint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postal_code_hints.each do |postal_code_hint| %>
      <tr scope="row">
        <td><a onmouseup="set_id('postal_code_hint_id',<%=postal_code_hint.id %>)"><%= postal_code_hint.code %></a></td>
        <td><%= postal_code_hint.hint %></td>
      </tr> 
    <% end %>
  </tbody>
</table>