<%= render 'management/tab' %>
<h2>Editing Private Place Type</h2>

<%= render 'form', private_place_type: @private_place_type %>

<%= link_to 'Back', private_place_types_path %>
<%= render 'management/tab-end' %>
