
<%= render 'management/tab' %>
<h2>Management</h2>
<p>Manage the site main data. Be careful with the alteration made on this section , they will be reflected on the user experience.</p>

<script>
$( function() {
	$( "#accordion" ).accordion({
	  collapsible: true,  active:false
	});
} );
</script>
<div id="accordion">
    <h3>Manager</h3>
	<div class="list-group" >
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Operations
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<ul class="list-group">
						<h5 class="list-group-item"><%= link_to 'Donation Campaign', donation_campaigns_path %></h5>
						<ul class="list-group">
							<li class="list-group-item">Extend donation campaing</li>
							<li class="list-group-item">End donation campaign</li>
							<li class="list-group-item">Donation campaign diary</li>
						</ul>
						<h5 class="list-group-item">Inventory Audit</h5>
						<ul class="list-group">
							<li class="list-group-item">Aknowledge lost</li>
						</ul>
					</ul>
				</div>
			</div>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Team management
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<div class="dropdown">
						<ul class="list-group">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Volunteers
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<ul class="list-group">
									<li class="list-group-item">Volunteers-to-be</li>
									<li class="list-group-item">List Volunteers</li>
									<li class="list-group-item">Admit Volunteer</li>
									<li class="list-group-item">Dismiss Volunteer</li>
									<li class="list-group-item">Send Thanks to Volunteer</li>
									<li class="list-group-item">Letter of recommendation</li>
								</ul>
							</div>
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Suppliers
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<ul class="list-group">
									<li>Suppliers-to-be</li>
									<li>List Suppliers</li>
									<li>Admit Supplier</li>
									<li>Pay Supplier</li>
									<li>Dismiss Supplier</li>
									<li>Letter of recommendation</li>
								</ul>
							</div>
							<li class="list-group-item">Training Schedule</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Reports
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<ul class="list-group">
						<li class="list-group-item">Donor by donations</li>
						<li class="list-group-item">Collections by volunteer</li>
						<li class="list-group-item">Collections by supplier</li>
						<li class="list-group-item">Donation by region</li>
						<li class="list-group-item">Donations by good type</li>
						<li class="list-group-item">Deliveries by volunteer</li>
						<li class="list-group-item">Deliveries by donee</li>
						<li class="list-group-item">Storages and Inventories</li>
						<li class="list-group-item">Pending donations</li>
					</ul>
				</div>
			</div>
		</nav>
    </div>
    
    <h3>Courier</h3>
    <div class="list-group">
        <li>Accept supply call</li>
        <li>Try reschedule supply call</li>
        <li>Refuse supply call</li>
        <li>End supply call with OK</li>
        <li>End supply call with concerns</li>
        <li>End supply call with fail</li>
    </div>
    <h3>Donee</h3>
    <div class="list-group">
        <li>Ask for food</li>
        <li>Thanks for food</li>
        <li>Point food insecurity</li>
    </div>
</div>
<%= render 'management/tab-end' %>
