
<%= render 'management/tab' %>
<h2>Management</h2>
<p>Manage the site main data. Be careful with the alteration made on this section , they will be reflected on the user experience.</p>



</div>
<%= render 'management/tab-end' %>
