<h3>Courier Commands</h3>
    <ul class="list-group">
        <li class="list-group-item">Accept supply call</li>
        <li class="list-group-item">Try reschedule supply call</li>
        <li class="list-group-item">Refuse supply call</li>
        <li class="list-group-item">End supply call with OK</li>
        <li class="list-group-item">End supply call with concerns</li>
        <li class="list-group-item">End supply call with fail</li>
    </ul>
