<h1>Editing Supply Food Configuration</h1>

<%= render 'form', supply_food_configuration: @supply_food_configuration %>

<%= link_to 'Show', @supply_food_configuration %> |
<%= link_to 'Back', supply_food_configurations_path %>
