<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @public_place_type.name %>
</p>

<%= link_to 'Edit', edit_public_place_type_path(@public_place_type) %> |
<%= link_to 'Back', public_place_types_path %>
