// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

// sidebar
/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: #255688;
}

/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: lightgray;
    display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */

.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

//custom
body {
    background-image: asset-url("homeBackground.jpeg");
}

.jumbotron {
    background-size: 100% 100%;
    width: 100%;
    height: 520px;
    background-color: transparent;
    padding-left: 250px;
    padding-top: 30px;
}

.dropdown-menu {
    background-color: #255688;
}

#navBarStats {
    padding: 20px 0px 30px 15px;
    color: black;
}

// navbar
.navbar {
    background-color: #255688;
    padding-left:250px;
    z-index:0;

}


.nav {
    background-color: #255688;
    background-image: none;
    background-repeat: no-repeat;
    color: blue;
}

.nav li a {
    text-decoration: none;
    font-size: 20px;
    color: lightgray;
    display: block;
}

.nav li a:hover {
    color: #f1f1f1;
}

.jumbotron hr {
    border-color: darkgray;
}


#sf_footer {
    margin: 10px;
}
