// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
    background-image: asset-url("homeBackground.jpeg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.dropdown-menu {
    background-color: #255688;
}
#navBarStats {
    padding: 20px 0px 30px 15px;
    color: black;
}

.nav {
    background-color: #255688;
    background-image: none;
    background-repeat: no-repeat;
    color: blue;
}

.nav li a {
    padding: 0 4px;
    color: white;
}
.nav li a:active {
    padding: 0 4px;
    color: blue;
}
.nav li a:hover {
    color: black;

}


.navbar-header {
    background-color: #255688;
}

#navbar {
    background-color: #255688;
}

.jumbotron hr {
    border-color: darkgray;
}
