<p id="notice"><%= notice %></p>

<p>
  <strong>Consent form type:</strong>
  <%= @consent_form.consent_form_type.description %>
</p>

<p>
  <strong>Person:</strong>
  <%= @consent_form.user.full_name %>
</p>

