
 <footer>
    <div id="sf_footer">
         site maintained by&nbsp;<a href="supplyfood@gmail.com">supply!Food intl</a>
         <%= link_to 'Home', root_path %>
         <%= link_to 'About', about_path %>
      <div>
            Last update <%= get_last_revision %>
          <br>
      </div>
    </div>
</footer>