<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path, class:"btn btn-xs btn-primary" %></li>
      <li><%= link_to 'About', about_path, class:"btn btn-xs btn-primary" %></li>
      <li><a href="#">Contact</a></li>
      <li><%= link_to 'Sign Up', signup_path, class:"btn btn-xs btn-primary pull-right" %></li>
      <li><%= link_to 'Sign In', signup_path, class:"btn btn-xs btn-primary pull-right" %></li>
    </ul>
  </div>
</nav>
  