<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../../public/resources/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><span class="brand-title">Person Entity Manager</span></a>
                <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-left" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
                <div class="pull-right navbar-logo">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Presentation<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li><a href="http://192.168.151.3:1000" target="_blank">Sahuta Community Development</a></li>
                                <li><a href="http://192.168.151.3:1000/lippo.html" target="_blank">Lippo At a Glance</a></li>
                                <li><a href="http://192.168.151.3:1000/rpa.html" target="_blank">What is Around us</a></li>
                                <li><a href="/documents/person-entity-manager.html" target="_blank">Global Presentation</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Detail View Design<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li>
                                    <a href="/app/temp/product-view.html" target="_blank">
                                        <!--<a href="http://192.168.151.3:1002/app/temp/product-view.html" target="_blank">-->
                                        Product Details Info
                                    </a>
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="http://192.168.151.3:1003" target="_blank">
                                        Person Information Manager
                                    </a>
                                </li>
                                <li>
                                    <a href="http://192.168.151.3:1001" target="_blank">
                                        Property Table
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-big">
                                    <a href="http://192.168.151.3:1004" target="_blank">
                                        Demo: No character is lost
                                    </a>
                                </li>
                                <li class="divider">Real Time</li>
                                <li>
                                    <a href="http://192.168.151.3:1005" target="_blank">
                                        Demo: Line of Business Application
                                    </a>
                                </li>
                                <li>
                                    <a href="http://192.168.151.3:1006" target="_blank">
                                        Demo: Real Time and Concurrent processing
                                    </a>
                                </li>
                                <li>
                                    <a href="http://192.168.151.3:1007" target="_blank">
                                        Demo: Real Time Chat
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sponsor<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="http://usni.ac.id/" target="_blank">
                                        Universitas Satya Negara Indonesia
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.polmed.ac.id/" target="_blank">
                                        Politeknik Negeri Medan
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown dropdown-big">
                                    <a href="http://www.facebook/jannens" target="_blank">
                                        Jendela Alam Raya
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        Tolhas Tuna Tumure
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <!--<span style="font-size:1.2em;">
                                    Alzafandy Hikmad Inc, Ltd
                                </span>-->
                                Peter Thumb Property
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row" style="margin-top: 45px;">
            <div class="col-md-3">
                <h3>Menu</h3>
                <ul class="nav" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <br />
                <h2>Body</h2>
            </div>
        </div>
    </div>
</body>
<script src="../../../public/resources/bootstrap.js"></script>
</html> 