<!DOCTYPE html>
<html class="gr__mladenplavsic_github_io" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supply!Food - ending the hunger in the world. With you.</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="resources/bootstrap.css">
    <link rel="stylesheet" href="resources/font-awesome.css">
    <link rel="stylesheet" href="resources/navbar-fixed-right.css">
    <link rel="stylesheet" href="resources/navbar-fixed-left.css">
    <link rel="stylesheet" href="resources/docs.css">
    <script src="resources/jquery.js"></script>
    <script src="resources/bootstrap.js"></script>
    <script src="resources/docs.js"></script>
    <script async="" defer="defer" src="resources/buttons.js"></script>
    <style>
        .jumbotron {
            background-image: url("resources/images/homeBackground.jpeg");
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            padding: 10px;
        }

        .nav li a {
            padding: 0 4px;

        }
        .jumbotron hr {
            border-color: darkgray;
        }
    </style>

</head>

<body data-gr-c-s-loaded="true" style="margin-right: 0px;">

    <nav class="navbar navbar-inverse navbar-fixed-left">
        <div class="navbar-header" style="background-color:#255688">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"/>
						<span class="icon-bar"/>
						<span class="icon-bar"/>
					</button>
            <img style="padding:5px;" src="resources/images/home200.png" width="200px" />
            <a class="navbar-brand" href="#">Supply!Food</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Donor<span class="caret"/>
							</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Donation report</a>
                        </li>
                        <li>
                            <a href="#">Call Donation</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Volunteer<span class="caret"/>
							</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Call center</a>
                        </li>
                        <li>
                            <a href="#">Manager</a>
                        </li>
                        <li>
                            <a href="#">Marketing</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management<span class="caret"/>
							</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Agents</a>
                        </li>
                        <li>
                            <a href="#">Storage</a>
                        </li>
                        <li>
                            <a href="#">Supply</a>
                        </li>
                        <li>
                            <a href="#">Delivery</a>
                        </li>
                    </ul>
                </li>

                <li style="padding:20px 0px 0px 0px;">
                    <a href="#">Food Handling</a>
                </li>
                <li>
                    <a href="#">The value of a donation</a>
                </li>
                <li>
                    <a href="#">Legal</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">News</a>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li style="padding:20px 0px 30px 15px;">
                    <strong>Stats</strong><br/>
                    <span id="donations"></span>
                    <span id="donatedTo"></span>
                </li>
                <script>
                    function getData() { //this will read file and send information to other function
                        var xmlhttp;

                        if (window.XMLHttpRequest) {
                            xmlhttp = new XMLHttpRequest();
                        } else {
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }

                        xmlhttp.onreadystatechange = function() {
                            if (xmlhttp.readyState == 4) {
                                var lines = xmlhttp.responseText; //*here we get all lines from text file*

                                intoArray(lines); //here we call function with parameter "lines*"                   
                            }
                        }

                        xmlhttp.open("GET", "resources/stats/stats.txt", true);
                        xmlhttp.send();
                    }

                    function intoArray(lines) {
                        // splitting all text data into array "\n" is splitting data from each new line
                        //and saving each new line as each element*

                        var lineArr = lines.split('\n');

                        document.getElementById("donations").innerHTML = "<span>Donations : " + lineArr[1] + "</span><br/>";
                        document.getElementById("donatedTo").innerHTML = "<span>People Supplied :" + lineArr[3] + "</span><br/>";
                    }

                </script>

                <script>
                    getData();

                </script>

        </div>
    </nav>
    <div class="jumbotron">
        <h1> Supply!Food</h1><br/>
        <H2>Freeware solution for hunger reduction and food insecurity</H2>
        <div class="text-center">
            <img src="resources/images/operationalFlow.png" style="width: 450px;">
        </div>
        <p>Useful links :</p>
        <a href="https://www.worldhunger.org/">World Hunger</a> - concept and facts about hunger around the world.<br/>
        <hr />
        <p>Supply Food is an open source project available at <a href="https://github.com/supplyFoodIntl/supplyFood">https://github.com/supplyFoodIntl/supplyFood</a>.<br>
        <hr />

        <H3>Developed with the following freeware tools:</H3>
            <H4>Server side : </H4>Ruby on Rails<br>
            <H4>3D Art :</H4> Blender<br>
            <H4>Vector Graphs :</H4> Inkscape<br>
            <H4>Bitmaps :</H4> Gimp 2<br>
        </p>

        <footer> site maintained by&nbsp;<a href="supplyfood@gmail.com">supply!Food intl</a>
        </footer>
    </div>
    <div class="container">

    </div>
</body>

</html>
